* {
  font-family: "Roboto", sans-serif;
}

.nav-btn {
  padding: 10px;
  border-radius: 20px;
}

.carouselStyles {
  width: 100%;
  text-align: center;
}

.CarouselImage {
  width: 30vmax;
  height: auto;
  object-fit: fill;
}

.input-focus:focus {
  outline: none;
}
